<h1 class="text-center">Restaurants</h1>
<h3 class="text-center">
  <%= link_to "Add a new restaurant", new_restaurant_path %>
</h3>
<ol>
<% @restaurants.each do |restaurant|%>
<li> <%= link_to restaurant.name, restaurant_path(restaurant) %> |
  <%= restaurant.mean_reviews %>/5
</li>
<% end %>
</ol>
